use Mix.Config

config :nerves_network, :default,
  wlan0: [
    ssid: "set me",
    psk: "set me",
    key_mgmt: :"WPA-PSK"
  ]

config :fe_reporting, :adafruit_io,
  username: "set me",
  secret_key: "set me",
  heartbeat_feed: "set me",
  heartbeat_value: 1

config :bugsnag,
  api_key: "set me"